/* border-pulsate */
@keyframes border-pulsate {
    0%   { border-color: rgba(255, 255, 255, 1); }
    50% { border-color: rgba(255, 255, 255, 0); }
    100%   { border-color: rgba(255, 255, 255, 1); }
}

@-webkit-keyframes moveRight {
  0% { }
  100% { -webkit-transform: translateX(100px) }
}
@keyframes moveRight {
  0% { }
  100% { transform: translateX(100px); }
}

/* Animations */
@-webkit-keyframes openSmallBook {
  0% { }
  /* 25% { -webkit-transform: translateX(50px) } */
  55%, 100% {
    /* -webkit-transform: translateX(50px); */
    -webkit-transform: rotateY(-180deg)
  }
}
@keyframes openSmallBook {
  0% { }
  /* 25% { -webkit-transform: translateX(50px); transform: translateX(50px); } */
  55%, 100% {
    /* -webkit-transform: translateX(50px); transform: translateX(50px); */
    -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg);
  }
}
@-webkit-keyframes closeSmallBook {
  0%, 45% { -webkit-transform: rotateY(-180deg) }
  100% { -webkit-transform: rotateY(0deg) }
}
@keyframes closeSmallBook {
  0%, 45% { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
}
@-webkit-keyframes scaleUpSmallBook {
  0% { }
  85%, 100% { -webkit-transform: scale(1.4) }
}
@keyframes scaleUpSmallBook {
  0% { }
  85%, 100% { -webkit-transform: scale(1.4); transform: scale(1.4); }
}
@-webkit-keyframes scaleDownSmallBook {
  0%, 15% { -webkit-transform: scale(1.4) }
  100% { -webkit-transform: scale(1) }
}
@keyframes scaleDownSmallBook {
  0%, 15% { -webkit-transform: scale(1.4); transform: scale(1.4); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes openBigBook {
  0% { }
  45% { opacity: 0; -webkit-transform: scale(0.95); }
  85% { opacity: 1 }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@keyframes openBigBook {
  0% { }
  45% { opacity: 0; -webkit-transform: scale(0.95); transform: scale(0.95); }
  85% { opacity: 1 }
  100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes closeBigBook {
  0%, 15% { opacity: 1; -webkit-transform: scale(1); }
  55%, 100% { opacity: 0; -webkit-transform: scale(0.95); }
}
@keyframes closeBigBook {
  0%, 15% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  55%, 100% { opacity: 0; -webkit-transform: scale(0.95); transform: scale(0.95); }
}

/* Media Queries */

@media screen and (max-width: 68.75em) {
  .bb-custom-wrapper { font-size: 75% }
}

@media screen and (max-width: 41.375em) {
  .bb-custom-wrapper { font-size: 60% }
}

@media screen and (max-width: 29.75em) {
  .bb-custom-wrapper { font-size: 40% }
}

@media screen and (max-width: 26.3125em) {
  .details-open .book {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

/* bounce */
.bounce {
	z-index: -1;
	width: 3.75em; /* 60/16 */
	height: 3.75em ; /* 60/16 */
	margin-left:-1.875em; /* 30/16 */
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.float-up {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 2s;
  animation-duration: .3s, 2s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* some unused */
@keyframes particleAnimation
{
    from {
        left: -100px;
				top: 20%;
    }
    to {
        left: calc( 100% + 100px );
				top: 6%;
    }
}
@keyframes flyup {
	 0%{
		transform: translateX(-150%) translateY(120px) rotate(10deg);;
	}
	50%, 100%{
		transform: translateX(140%) translateY(-220px) rotate(-10deg);
	}
}
