/* Colors */

html,
body{
  width: 100%;
  height: 100%;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

.container.hide-overflow { overflow: hidden }

.bookshelf {
  position: relative;
  margin: 10% auto 0;
  list-style: none;
  text-align: center;
  transform: rotate(15deg);
}

.bookshelf figure {
  position: relative;
  display: inline-block;
  max-width: 75%;
  vertical-align: top;
}

/* Perspectiv wrapper, figure and book */
.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1800px;
  perspective: 1800px;
}

.book {
  position: relative;
  margin: 0 auto;
  width: 24em;
  height: 32em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.book div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cover {
  z-index: 10;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.cover::before {
  position: absolute;
  left: 0;
  z-index: 10;
  visibility: hidden;
  width: 20px;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transform: translateX(-100%) rotateY(-90deg);
  transform: translateX(-100%) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.front {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner {
  border-width: 3px;
  border-style: solid;
  background-color: #fff;
}
.bookshelf .book .inner-left {
  border-right: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inner-right { border-left: none }

/* Buttons and figcaption */
.buttons {
  margin-top: 5px;
  text-align: center;
}
.buttons a {
  display: inline-block;
  padding: 0 8px;
  color: rgba(100, 105, 106, 0.9);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.65em;
  line-height: 1.5;
}
.buttons a:first-child:not(:only-child) { border-right: 1px solid rgba(100, 105, 106, 0.3) }
.buttons a:hover,
.buttons a:active { color: #64696a }

/* Custom BookBlock */
.bb-custom-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  border-width: 3px 10px;
  border-style: solid;
}
.bb-custom-wrapper::before,
.bb-custom-wrapper::after {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 10px;
  height: 100%;
  background: -webkit-linear-gradient(left, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
  background: linear-gradient(to right, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
  background-size: 3px 100%;
  content: '';
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bb-custom-wrapper::before { left: 0 }
.bb-custom-wrapper::after { right: 0 }
.bb-custom-wrapper .bb-bookblock {
  width: 100%;
  height: 100%;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}
.bb-custom-side {
  position: relative;
  float: left;
  overflow: hidden;
  width: 50%;
  height: 100%;

}
.bb-custom-side::before {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: '';
}
.bb-custom-side:first-child::before {
  right: 0;
}

.float-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  text-align: center;
}

/****** Custom book colors and borders *****/

/* Custom book covers */

.no-csstransforms3d .book[data-book="book-1"],
.no-js .book[data-book="book-1"],
.book[data-book="book-1"] .front {
  background: url(/assets/img/Portfolio.png);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url(/assets/img/Portfolio.png), #3a3a3a;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url(/assets/img/Portfolio.png), #3a3a3a;
  background-size: contain;
}
.book[data-book="book-1"] .inner { border-color: #3a3a3a }

/* border around bookblock same as book cover color*/

#book-1 { border-color: #3a3a3a }

/****** Transitions ******/

/* Book open / view inside */

.book {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.3s 0.3s;
  transition: transform 0.5s, opacity 0.3s 0.3s;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.csstransformspreserve3d .bookshelf figure.open .cover {
  -webkit-animation: moveRight 0.5s forwards;
  animation: moveRight 0.5s forwards;
  -webkit-animation: openSmallBook 1.5s forwards;
  animation: openSmallBook 1.5s forwards;
}
/* .csstransformspreserve3d .bookshelf figure.open .inner {
  -webkit-animation: moveRight 0.5s forwards;
  animation: moveRight 0.5s forwards;
} */

.csstransformspreserve3d .bookshelf figure.close .cover {
  -webkit-animation: closeSmallBook 1s forwards;
  animation: closeSmallBook 1s forwards;
}

.bookshelf figure.open .book {
  z-index: 1000;
  -webkit-animation: moveRight 0.5s forwards;
  animation: moveRight 0.5s forwards;
  /* -webkit-animation: scaleUpSmallBook 3s forwards;
  animation: scaleUpSmallBook 3s forwards; */
}

.bookshelf figure.close .book {
  -webkit-animation: scaleDownSmallBook 1s forwards;
  animation: scaleDownSmallBook 1s forwards;
}

.inner-right {
  background-color: #ddd;
  -webkit-transition: background-color 0.5s 0.25s;
  transition: background-color 0.5s 0.25s;
}

.open .inner-right {
  background-color: #f9f9f9;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.bb-custom-wrapper {
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.bb-custom-wrapper.show {
  visibility: visible;
  -webkit-transition: visibility 0s;
  transition: visibility 0s;
  -webkit-animation: openBigBook 1.5s forwards;
  animation: openBigBook 1.5s forwards;
}

.no-cssanimations .bb-custom-wrapper.show { opacity: 1 }

.bb-custom-wrapper.hide {
  -webkit-animation: closeBigBook 1s forwards;
  animation: closeBigBook 1s forwards;
}

.no-cssanimations .bb-custom-wrapper.hide { opacity: 0 }

/* Details open / view details */

.bookshelf figure {
  z-index: 100;
  -webkit-transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}

.csstransformspreserve3d .cover::before {
  -webkit-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}

/* Details background */

.bookshelf figure::before {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/* Overlay when viewing details */

.bookshelf figure::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background: rgba(51, 51, 51, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, height 0s 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
