
@media screen and (max-width: 52.5em) {
  /*book*/
  .book {
    position: relative;
    margin: 0 auto;
    width: 9em;
    height: 12em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .fullscreen {
  	margin: 10px 5px 0px 5px;
    top: 0;
  }
  .bb-custom-side {
    padding: 10px
  }
  .header {
    height: 20px;
  }
  .bookshelf figure {
    position: relative;
    display: inline-block;
    max-width: 75%;
    width: auto;
    vertical-align: top;
  }
  /*navigation*/
  .bb-custom-icon:before {
    font-family: 'arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 15px;
    line-height: 20px;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  .linkout {
    display: block;
    text-align: center;
    font-size: 10px;
    width: 100%;
  }
  .linkout a {
    font-family: 'Montserrat', serif;
    color: #0b0b0b;
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 20px;
    transition: 0.3s;
  }
  .linkout {
    text-align: center;
  }
  .linkcontainer {
  	height: 100%;
    margin-top: unset;
  }
  .custom-dropdown select {
    background: #48ABE0;
    border-radius: .2em;
    color: #fff;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif !important;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  /* Adjustments */
  .thumbnail {
    margin-bottom: 0px;
  }
  p {
    margin: 0 0 2px;
  }
  .story-row {
    margin: 0px;
  }
  .phone-no-padding {
    padding: 0px;
  }
  .phone-reduced-padding {
    padding: 0px 2.5px;
  }
  .btn {
    padding: 2px;
    font-size: 80%;
  }
  .bb-custom-wrapper h3 {
    margin: 0.4em 0;
  }
  .xtarget {
    width: 90% !important;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .carousel {
    height: 18em;
  }
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 18em;
  }
  .carousel-inner > .item > img {
    height: 18em;
  }
}
