
@media screen and (max-width: 52.5em) {
  /*book*/
  .book {
    position: relative;
    margin: 0 auto;
    width: 9em;
    height: 12em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .fullscreen {
  	margin: 10px 5px 0px 5px;
    top: 0;
  }
  .bb-custom-side {
    padding: 10px;
    font-size: 70%;
  }
  .bookshelf{
    margin: 0.5em auto 0;
  }
  .bookshelf figure {
    position: relative;
    display: inline-block;
    max-width: 75%;
    width: auto;
    vertical-align: top;
  }

  /* Adjustments */
  .thumbnail {
    margin-bottom: 1em;
  }
  p {
    margin: 0 0 2px;
  }
  .story-row {
    margin: 0px;
  }
  .phone-no-padding {
    padding: 0px;
  }
  .phone-reduced-padding {
    padding: 0px 2.5px;
  }
  .btn {
    padding: 2px;
    font-size: 80%;
  }
  .bb-custom-wrapper h3 {
    margin: 0.4em 0;
  }
  /* posts specifics */
  .xtarget {
    width: 90% !important;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .carousel {
    height: 18em;
  }
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 18em;
  }
  .carousel-inner > .item > img {
    height: 18em;
  }
  .blog-header {
    padding: 0 1em;
  }
  .blog-title {
    font-size: 2em;
  }
  .blog-description {
    font-size: 1.2em;
    color: #999;
  }
  .blog-main {
    font-size: 0.8em;
  }
}
