---
layout: default
permalink: /
---
<div class="float-background">
	<img src="/assets/img/cliparts/laptop.png" class="ft-laptop" />
	<img src="/assets/img/cliparts/usb.png" class="ft-usb" />
	<img src="/assets/img/cliparts/notebook.png" class="ft-notebook" />
	<img src="/assets/img/cliparts/pen.png" class="ft-pen" />
	<img src="/assets/img/cliparts/notes.png" class="ft-notes" />
	<img src="/assets/img/cliparts/mouse.png" class="ft-mouse" />
	<img src="/assets/img/cliparts/calculator.png" class="ft-calculator" />
	<img src="/assets/img/cliparts/checklist.png" class="ft-checklist" />
	<img src="/assets/img/cliparts/docs.png" class="ft-docs" />
	<img src="/assets/img/cliparts/pencil.png" class="ft-pencil" />
	<img src="/assets/img/cliparts/coffee.png" class="ft-coffee" />
	<img src="/assets/img/cliparts/phone.png" class="ft-phone" />
	<div class="attribution"><a href="https://www.vecteezy.com" target="_blank" style="color: #3c3c3c">Vector Design by Vecteezy.com</a></div>
</div>
<div class="fullscreen">
	<div class="bb-custom-wrapper" id="book-1">
		<!-- Next Nav button of booklet -->
		<a href="#" class="left carousel-control bb-nav-prev" style="text-align: left; z-index: 1000">
			<span class="glyphicon glyphicon-chevron-left hvr-bob-float" style="left: 0.5em"></span>
		</a>

		<!-- Actual contents -->
		<div id="bb-bookblock" class="bb-bookblock bb-vertical text-responsive">
			<!-- Intro Section -->
			<div class="bb-item firstitem" id="pg1">
				<div class="bb-custom-side">
					<div style="text-align: center">
						<div class="imgcontainer" style="padding-bottom: 0.5em">
							<img class="thumbnail roundimg" src="/assets/img/headshot.jpg"></img>
						</div>
						<p class="txtheader">Zhongkai Liu</p>
						<p>Production Engineer @ <span style="color: #720e9e">Yahoo! Sports</span> · Verizon Media</p>
						<p> Santa Clara, California </p>
						<div class="description">
							<p>Zhongkai obtained his Computer Science Degree (Bachelor)
								from University of Florida in 2019. He is a person passionate about the
								evolving technology. At a young age, Zhongkai loved playing with electronics
								and figure out how they work. He still does so today. Zhongkai believes
								that technology development should be driven by the main purpose to benefit mankind
								and our planet, instead of for pure profits. His biggest idol is Elon Musk, for
								his courage and fearless initiative to push the advancement of technology and
								making things seem remote possible.
							</p>
						</div>
						<div class="social-media">
							<a class="FFF" href="https://github.com/{{ site.github_username }}" target="_blank">
								<i class="fab fa-github fa-3x"></i></a>&emsp;
							<a class="FFF" href="mailto:{{ site.email }}" target="_blank">
								<i class="fas fa-envelope fa-3x"></i></a>&emsp;
							<a class="FFF" href="{{ site.linkedin_link }}" target="_blank">
								<i class="fab fa-linkedin fa-3x"></i></a>&emsp;
							<a class="FFF" href="#" data-toggle="tooltip" id="qq" onmouseover="showTip()" title="ID:6767858823">
								<i class="fab fa-weixin fa-3x"></i>&emsp;<i class="fab fa-qq fa-3x"></i></a>
						</div>
					</div>
				</div>
				<div class="bb-custom-side">
					<div class="container">
						<div class="row" style="text-align: right">
							<p class="txtheader">Some Fun Facts About Zhongkai</p>
						</div>
						<div class="row">
							<div class="hostrow">
								<div class="imgbox f-left">
									<img class="roundimg" src="/assets/img/media/china_map.jpg" />
								</div>
								<div class="briefbox centeroutter">
									<div class="centermiddle">
										<div class="centerinner">
											<p><i>Origin</i> <span class="glyphicon glyphicon-arrow-right"></span> Jiexiu, Shanxi Province, China</p>
											<p>Many people asked about this, but most people knows
												no other cities in China other than Beijing and Shanghai!
												So there you have it.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="hostrow">
								<div class="briefbox centeroutter briefbox-right">
									<div class="centermiddle">
										<div class="centerinner">
											<p style="text-align: right">
												Hand-pulled Noodles <span class="glyphicon glyphicon-arrow-left"></span> <i>Favorite Food</i>
											</p>
											<p>People from Shanxi Province grew up eating all kinds of
												noodles. The hand-pulled noodles is just my favorite, period.
											</p>
										</div>
									</div>
								</div>
								<div class="imgbox f-right">
									<img class="roundimg" src="/assets/img/media/hand-pulled_noodle.jpg" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="hostrow">
								<div class="imgbox f-left">
									<img class="roundimg" src="/assets/img/media/solar_car.jpg" />
								</div>
								<div class="briefbox centeroutter">
									<div class="centermiddle">
										<div class="centerinner">
											<p><i>Most Memoriable Experience</i> <span class="glyphicon glyphicon-arrow-right"></span> Building a solar car!</p>
											<p>I am so lucky that my high school, Western High, offers special
												STEM programs. The Solar Car project was one of the most awesomes
												things happened here. So much thanks to my awesome team and my mentors, Mr. Marron and Dr. Liu
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="hostrow">
								<div class="briefbox centeroutter briefbox-right">
									<div class="centermiddle">
										<div class="centerinner">
											<p style="text-align: right">
												Ping pong, Tennis, Badminton <span class="glyphicon glyphicon-arrow-left"></span> <i>Sports!</i>
											</p>
											<p>In other words, I am willing to play any sports for which I can use a racket to hit a ball.
												Ping pong is so much fun and it is my favorite.
											</p>
										</div>
									</div>
								</div>
								<div class="imgbox f-right">
									<img class="roundimg" src="/assets/img/media/sports.jpg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Past Stories Section -->
			{% assign counter = 0 %}{% assign temp = 0 %}
			{% assign bbside = 0 %}{% assign bbside-close = 0 %}
			{% assign bbitem = 0 %}{% assign bbitem-close = 0 %}
			{% for post in site.posts %}
			{% if post.path contains 'life-experience' or post.path contains 'shared' %}
			  {% assign temp = counter | modulo: 6 %}
			  {% if temp == 0  %}
			    <div class="bb-item">
			    {% assign bbitem = bbitem | plus: 1 %}
			  {% endif %}
			    {% assign temp = counter | modulo: 3 %}
			    {% if temp == 0 %}
			      <div class="bb-custom-side bbsidebor">
			        {% assign bbside = bbside | plus: 1 %}
			        {% if counter == 0 %}
			          <p class="txtheader">Some Past Stories...</p>
							{% else %}
							{% assign temp = bbside | modulo: 2 %}
								{% if temp == 1 %}
									<p class="txtheader">Stories Continues...</p>
								{% else %}
								<div style="text-align: right">
									<p class="txtheader">Stories Continues...</p>
								</div>
								{% endif %}
			        {% endif %}
			    {% endif %}
			          <div class="row story-row">
									{% assign temp = bbside | modulo: 2 %}
									{% if temp == 1 %}
									<div class="col-xs-4 phone-no-padding">
				            <img class="thumbnail descriptiveImg" src="{{ post.thumbUrl }}"/>
									</div>
									{% endif %}
									<div class="col-xs-8 text phone-reduced-padding">
				            <h3 class="listTitle">{{ post.title }}</h3>
				            <p class="listTime">{{ post.dateStr }}</p>
				            <p class="listSummary">{{ post.summary }}</p>
				            {% if post.brief %}
				              <p class="listSummary hidden" id="{{ "_H" | prepend: post.short }}">
				                {{ post.brief }}
				              </p>
				              <p class="center-text"><button class="btn btn-default" id="{{ "_B" | prepend: post.short }}" role="button"
				                onclick="toggleShowMore('{{ post.short }}');">Show More &darr;</button></p>
				            {% endif %}
				            {% if post.ext-web %}
				              <p><a class="btn btn-default" target="_blank" href="{{ post.ext-web }}" role="button">Check it out &raquo;</a></p>
				            {% endif %}
									</div>
									{% if temp == 0 %}
									<div class="col-xs-4 phone-no-padding">
				            <img class="thumbnail descriptiveImg" src="{{ post.thumbUrl }}"/>
									</div>
									{% endif %}
			          </div>
			      {% assign counter = counter | plus: 1 %}
			      {% assign temp = counter | modulo: 3 %}
			      {% if temp == 0 %}
			        </div>
			        {% assign bbside-close = bbside-close | plus: 1 %}
			      {% endif %}
			    {% assign temp = counter | modulo: 6 %}
			    {% if temp == 0 %}
			      </div>
						{% assign bbitem-close = bbitem-close | plus: 1 %}
			    {% endif %}
			  {% endif %}
			  {% endfor %}
			  {% if bbside > bbside-close %}
			    </div>
			  {% endif %}
			  {% assign temp = bbside | modulo: 2 %}
			  {% if temp == 1 %}
			    <div class="bb-custom-side bbsidebor centeroutter" style="height: 100%">
			      <div class="centermiddle">
			        <div class="centerinner center-text">
			          <p class="txtheader">More stories to come soon!</p>
								<p class="txtheader">Continue <span class="glyphicon glyphicon-chevron-right"></span></p>
			        </div>
						</div>
			    </div>
			  {% endif %}
			{% if bbitem > bbitem-close %}
			  </div>
			{% endif %}

			<!-- Project Showcase section -->
			{% assign counter = 0 %}{% assign temp = 0 %}
			{% assign bbside = 0 %}{% assign bbside-close = 0 %}
			{% assign bbitem = 0 %}{% assign bbitem-close = 0 %}
			{% for post in site.posts %}
			{% if post.path contains 'project' or post.path contains 'shared' %}
			  {% assign temp = counter | modulo: 8 %}
			  {% if temp == 0  %}
			    <div class="bb-item">
			    {% assign bbitem = bbitem | plus: 1 %}
			  {% endif %}
			    {% assign temp = counter | modulo: 4 %}
			    {% if temp == 0 %}
			      <div class="bb-custom-side bbsidebor">
			        {% assign bbside = bbside | plus: 1 %}
			        {% if counter == 0 %}
			          <p class="txtheader">Some Projects worked on...</p>
							{% else %}
							{% assign temp = bbside | modulo: 2 %}
								{% if temp == 1 %}
									<p class="txtheader">Projects Continues...</p>
								{% else %}
								<div style="text-align: right">
									<p class="txtheader">Projects Continues...</p>
								</div>
								{% endif %}
			        {% endif %}
			    {% endif %}
						{% assign temp = counter | modulo: 2 %}
						{% if temp == 0 %}
			          <div class="row story-row">
						{% endif %}
									<div class="col-xs-6"><!-- A new card section -->
										<div style="display: flex; padding-bottom: 1em">
											<div class="thumbnail" style="margin: auto">
												{% if post.path contains 'shared' %}
												<div class="special-text">Internship</div>
												{% endif %}
												<img src="{{ post.pthumbUrl }}" alt="image missing" class="cardImg"/>
											</div>
										</div>
										<div class="two-side-row">
											<div>
												{% if post.hasContent %}
													<p class="card-title">
														<a href="{{ post.url }}" class="card-link">
															{{ post.ptitle }}
														</a>
													</p>
												{% else %}
													<p class="card-title">{{ post.ptitle }}</p>
												{% endif %}
											</div>
											{% if post.ext-web %}
												<p><a class="btn btn-default" target="_blank" href="{{ post.ext-web }}" role="button">Check it out &raquo;</a></p>
											{% endif %}
											{% if post.git-link %}
												<p><a class="btn btn-default" target="_blank" href="{{ post.git-link }}" role="button">View on Github &raquo;</a></p>
											{% endif %}
											{% if post.video-link %}
												<p><a class="btn btn-default" target="_blank" href="{{ post.video-link }}" role="button">Video Demo &raquo;</a></p>
											{% endif %}
										</div>
										<p class="card-text">{{ post.summary }}</p>
									</div>
				      {% assign counter = counter | plus: 1 %}
				      {% assign temp = counter | modulo: 2 %}
				      {% if temp == 0 %}
				        </div><!-- closing story-row -->
				      {% endif %}
				    {% assign temp = counter | modulo: 4 %}
				    {% if temp == 0 %}
				      </div><!-- closing bb-side -->
							{% assign bbside-close = bbside-close | plus: 1 %}
				    {% endif %}
					{% assign temp = counter | modulo: 8 %}
					{% if temp == 0 %}
						</div><!-- closing bb-item -->
						{% assign bbitem-close = bbitem-close | plus: 1 %}
					{% endif %}
			  {% endif %}
			  {% endfor %}
				{% assign temp = counter | modulo: 2 %}
				{% if temp == 1 %}
					</div><!-- closing uncovered story-row -->
				{% endif %}
			  {% if bbside > bbside-close %}
			    </div><!-- closing uncovered bb-side -->
			  {% endif %}
			  {% assign temp = bbside | modulo: 2 %}
			  {% if temp == 1 %}
			    <div class="bb-custom-side bbsidebor centeroutter" style="height: 100%">
			      <div class="centermiddle">
			        <div class="centerinner">
			          <p class="txtheader">More contents to come soon!</p>
			        </div>
						</div>
			    </div>
			  {% endif %}
			{% if bbitem > bbitem-close %}
			  </div><!-- closing uncovered bb-item -->
			{% endif %}
		</div>

		<!-- Next Nav button of booklet -->
		<a href="#" class="right carousel-control bb-nav-next hvr-bob-float" style="text-align: right; z-index: 1000">
			<span class="glyphicon glyphicon-chevron-right" style="right: 1.5em"></span>
		</a>
	</div>
</div>
<!-- initial look: book on the table -->
<section class="tabletop">
	<div class="container">
		<div class="row bookrow">
			<div class="col-lg-12">
				<div id="bookshelf" class="bookshelf">
					<figure id="bookhome">
						<div class="book shbook rotatedBefore" data-book="book-1" onclick="openBook()"></div>
						<div class="buttons"><a></a></div>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
