---
layout: default
title: Projects
permalink: /projects/
---
<main role="main">
  <div class="album">
    <div class="container">
      {% assign counter = 0 %}
      {% for proj in site.posts %}
        {% if proj.path contains 'project' or proj.path contains 'shared' %}
          {% assign counter = counter | plus: 1 %}
          {% assign temp = counter | modulo: 2 %}
          {% if temp == 1 %}
          <div class="row">
          {% endif %}
          <div class="col-xs-offset-1 col-xs-10 col-sm-4">
            <div class="thumbnail">
              {% if proj.path contains 'shared' %}
              <div style="position:absolute; right:20px; background-color:#54dbff; padding: 0px 4px 2px 4px">Internship Project</div>
              {% endif %}
              <img src="{{ proj.pthumbUrl }}" alt="image missing" class="cardImg"/>
            </div>
            <div class="two-side-row">
              <div>
                {% if proj.hasContent %}
                  <p class="card-title">
                    <a href="{{ proj.url }}" class="card-link">
                      {{ proj.ptitle }}
                    </a>
                  </p>
                {% else %}
                  <p class="card-title">{{ proj.ptitle }}</p>
                {% endif %}
              </div>
              {% if proj.ext-web %}
                <p><a class="btn btn-default" target="_blank" href="{{ proj.ext-web }}" role="button">Check it out &raquo;</a></p>
              {% endif %}
              {% if proj.git-link %}
                <p><a class="btn btn-default" target="_blank" href="{{ proj.git-link }}" role="button">View on Github &raquo;</a></p>
              {% endif %}
              {% if proj.video-link %}
                <p><a class="btn btn-default" target="_blank" href="{{ proj.video-link }}" role="button">Video Demo &raquo;</a></p>
              {% endif %}
            </div>
            <p class="card-text">{{ proj.summary }}</p>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="visible-xs clear-block"></div>
          {% if temp == 0 %}
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
<br />
