<section class="header">
  <div class="col-md-12 head linkfoot" style="height: 20px !important">
    <div class="linkcontainer">
      <div class="linkout"><a class="footlink" href="#" id="aboutBtn">About</a></div>
      <div class="linkout"><a class="footlink" href="#" id="pastBtn">Past</a></div>
      <div class="linkout"><a class="footlink" href="#" id="projBtn">Projects</a></div>
      <div class="linkout"><a class="footlink" href="#" id="myresumeBtn">Resume</a></div>
    </div>
  </div>
</section>
