<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <title>{{ site.title }}</title>
  <meta name="description" content="Personal website for Zhongkai Liu. Learn about Zhongkai's life stories,
    professional backgrounds, and projects involved." />
  <!-- CSS libs -->
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" type="text/css" href="/css/animations.css" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/bookblock.css" />
  <link rel="stylesheet" type="text/css" href="/css/component.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/cs-select.css" />
  <link rel="stylesheet" type="text/css" href="/css/cs-skin-boxes.css" />
  <link rel="stylesheet" type="text/css" href="/css/carousel.css" />
  <link rel="stylesheet" type="text/css" href="/css/blog.css" />
  <!-- Custimized css -->
  <link rel="stylesheet" type="text/css" href="/css/main.css" >
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/phonestyle.css" />
  <script src="/js/modernizr.custom.js"></script>
  <script src="/js/pleaserotate.js"></script>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <!-- Icons & Fonts -->
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Playfair+Display:400,400i,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
</head>
