
$light-cyan: #19CCAA;

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

// common settings
.canvas {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.glyphicon {
  text-align: center;
}
