html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 55px;
}

.descriptiveImg {
  padding-left: 5px;
}
.container {
  padding: 0px 0px;
}
.odd1 {
  background-color: #e2e2e2;
}
.odd0 {
  background-color: #FFF;
}
.xtarget {
  padding-top: 50px;
}
