<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
	<body id="indexbody">
		{{ content }}
		<script src="/js/jquery.js"></script>
		<script src="/js/jquerypp.custom.js"></script>
		<script src="/js/jquery.bookblock.js"></script>
		<script src="/js/bookblock.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/bookshelf.js"></script>
		<script src="/js/selectFx.js"></script>
    <div class="hidden">
			<a href="https://smallseotools.com/visitor-hit-counter/" target="_blank" title="Visitor Hit Counter">
				<img src="https://smallseotools.com/counterDisplay/?code=d7888c8a1166efba3aba5c8f1269518c&style=0008&pad=6&type=ip&initCount=1"
				title="Visitor Hit Counter" Alt="Visitor Hit Counter" border="0">
			</a>
		</div>
	</body>
	<!-- Helper functions -->
	<script src="/js/helper.js"></script>
	<!-- controls nav bar click events -->
	<script>
		var Page = (function() {
			var config = {
					$bookBlock : $( '#bb-bookblock' ),
					$navNext : $( '.bb-nav-next' ),
					$navPrev : $( '.bb-nav-prev' ),
          $navScroll : $( '#book-1' )
				},
				init = function() {
					config.$bookBlock.bookblock( {
						speed : 800,
						shadowSides : 0.8,
						shadowFlip : 0.7
					} );
					initEvents();
				},
				initEvents = function() {
					var $slides = config.$bookBlock.children();
					config.$navNext.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'next' ); return false;
					} );
					config.$navPrev.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'prev' ); return false;
					} );
          config.$navScroll.on( 'wheel', function(e) {
            e.preventDefault();
            let deltaY = e.originalEvent.deltaY;
            if (deltaY < 0) {
              config.$bookBlock.bookblock( 'prev' );
            } else if (deltaY > 0) {
              config.$bookBlock.bookblock( 'next' );
            }
            return false;
          });
				};
				return { init: init };
		})();
	</script>
	<!-- have page load the nav control module -->
	<script>
		Page.init();
	</script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
</html>
