<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
	<body id="indexbody">
		{{ content }}
		<script src="/js/jquery.js"></script>
		<script src="/js/jquerypp.custom.js"></script>
		<script src="/js/jquery.bookblock.js"></script>
		<script src="/js/bookblock.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/bookshelf.js"></script>
		<script src="/js/selectFx.js"></script>
	</body>
	<!-- Helper functions -->
	<script src="/js/helper.js"></script>
	<!-- controls nav bar click events -->
	<script>
		var Page = (function() {
			var config = {
					$bookBlock : $( '#bb-bookblock' ),
					$navNext : $( '.bb-nav-next' ),
					$navPrev : $( '.bb-nav-prev' ),
          $navScroll : $( '#indexbody' )
					// $navFirst : $( '.bb-nav-first' ),
					// $navLast : $( '.bb-nav-last' ),
					// $navClose : $( '.bb-nav-close' ),
					// $navAbout: $( '#aboutBtn'),
					// $navPast  : $( '#pastBtn' ),
					// $navProj  : $( '#projBtn' ),
					// $navResume: $( '#myresumeBtn' )
				},
				init = function() {
					config.$bookBlock.bookblock( {
						speed : 800,
						shadowSides : 0.8,
						shadowFlip : 0.7
					} );
					initEvents();
				},
				initEvents = function() {
					var $slides = config.$bookBlock.children();
					// add navigation events
					config.$navNext.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'next' ); return false;
					} );
					config.$navPrev.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'prev' ); return false;
					} );
					// config.$navFirst.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock( 'first' ); return false;
					// } );
					// config.$navLast.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock( 'last' ); return false;
					// } );
          config.$navScroll.on( 'scroll', function(event) {
            console.log(event);
          });
					// config.$navClose.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock( 'close' ); return false;
					// })
					// config.$navAbout.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock('jump', 1); return false;
					// } );
					// config.$navPast.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock('jump', 2); return false;
					// } );
					// config.$navProj.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock('jump', 3); return false;
					// } );
					// config.$navResume.on( 'click touchstart', function() {
					// 	config.$bookBlock.bookblock( 'last' ); return false;
					// });
				};
				return { init: init };
		})();
	</script>
	<!-- have page load the nav control module -->
	<script>
		Page.init();
	</script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
</html>
