---
layout: default
---
<div class="float-background">
  <img src="/assets/img/cliparts/laptop_home_cut.png" id="ft-laptop-cut" class="blink-border" onclick="jumpPage('/')" />
  <img src="/assets/img/cliparts/usb.png" id="ft-usb" />
  <img src="/assets/img/cliparts/notebook.png" id="ft-notebook" />
  <img src="/assets/img/cliparts/pen.png" id="ft-pen" />
  <img src="/assets/img/cliparts/notes.png" id="ft-notes" />
  <img src="/assets/img/cliparts/mouse.png" id="ft-mouse" />
  <img src="/assets/img/cliparts/calculator.png" id="ft-calculator" />
  <img src="/assets/img/cliparts/checklist.png" id="ft-checklist" />
  <img src="/assets/img/cliparts/coffee.png" id="ft-coffee" />
  <img src="/assets/img/cliparts/phone.png" id="ft-phone" />
  <img src="/assets/img/cliparts/docs_notes.png" id="ft-docs" class="blink-border clickable-override" onclick="jumpPage('/notes')" />
  <img src="/assets/img/cliparts/pencil.png" id="ft-pencil" />
</div>
<div id="note_content" class="container xtarget fullscreen" style="height: 100%; overflow: scroll; margin: auto">

  <div class="blog-header">
    <p class="blog-title">{{ page.title }}</p>
  </div>

  <div class="row" style="width: 99%">
    <div class="col-sm-offset-1 col-sm-8 blog-main">
      <div class="blog-post">
        {{ content }}
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-3 blog-sidebar">
      <div class="sidebar-module">
        <h4>Other Notes</h4>
        <ol class="list-unstyled">
          {% assign sorted_posts = site.posts | sort: "title_short" %}
          {% for post in sorted_posts %}
          {% if post.path contains 'notes' %}
            {% if post.tags contains 'check' %}
          <li><a href="{{ post.url }}">{{ post.title_short }}</a></li>
            {% endif %}
          {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
  <footer class="blog-footer">
    <p>
      <a href="#" onclick="back_to_top('note_content')" style="text-decoration: none">Back to top</a>
    </p>
  </footer>
</div><!-- /.container -->
